* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --fancy-blue: #646cff;
}


body {
  /* background-color: rgb(53, 53, 53); */
  background: linear-gradient(330deg, rgb(205, 205, 205), rgb(178, 178, 178), rgb(80, 80, 80), black);
  place-items: center;
  min-width: 320px;
  max-height: 100vh;
}